<div class="row widget-chart p-t-25">
  <div class="col-md-3 col-xxl-3">
    <div class="card">
      <div class="flex align-item-center">
        <div class="flex-shrink-0">
          <div class="avatar avatar-s bg-primary-50 text-primary-500">
            <!--put here icon-->
          </div>
        </div>
        <div class="flex-grow-1 card-head">
          <h5 class="m-b-0 f-w-600" >All Earnings</h5>
        </div>
      </div>
      <div class="chart-body">
        <div class="m-t-15 row align-item-center">
          <div class="col-7">
            <div class="custom-chart" >
              <div class="bar" *ngFor="let item of earningChart.series[0].data" [style.height.%]="item">
                <span class="label">{{ item }}</span>
              </div>
            </div>

          </div>
          <div class="col-5 text-end">
            <h5 class="m-b-5 ms-3">₹30200</h5>
            <h6 class="text-primary-500 m-b-0 ms-4"><i class="ti ti-arrow-up-right"></i> 30.6%</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xxl-3">
    <div class="card">
      <div class="flex align-item-center">
        <div class="flex-shrink-0">
          <div class="avatar avatar-s bg-warning-50 text-warning-500">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21 7V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V7C3 4 4.5 2 8 2H16C19.5 2 21 4 21 7Z"
                stroke="#E58A00" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                stroke-linejoin="round" />
              <path opacity="0.6" d="M14.5 4.5V6.5C14.5 7.6 15.4 8.5 16.5 8.5H18.5" stroke="#E58A00" stroke-width="1.5"
                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
              <path opacity="0.6" d="M8 13H12" stroke="#E58A00" stroke-width="1.5" stroke-miterlimit="10"
                stroke-linecap="round" stroke-linejoin="round" />
              <path opacity="0.6" d="M8 17H16" stroke="#E58A00" stroke-width="1.5" stroke-miterlimit="10"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>
        <div class="flex-grow-1 card-head">
          <h5 class="m-b-0 f-w-600">Page Views</h5>
        </div>
      </div>
      <div class="chart-body">
        <div class="m-t-15 row align-item-center">
          <div class="col-7">
            <div class="custom-chart">
              <div class="bar1" *ngFor="let item of earningChart.series[0].data" [style.height.%]="item">
                <span class="label">{{ item }}</span>
              </div>
            </div>
          </div>
          <div class="col-5 text-end">
            <h5 class="m-b-5">₹29K+</h5>
            <h6 class="text-warning-500 m-b-0 ms-4"><i class="ti ti-arrow-up-right"></i> 30.6%</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xxl-3">
    <div class="card">
      <div class="flex align-item-center">
        <div class="flex-shrink-0">
          <div class="avatar avatar-s bg-success-50 text-success-500">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 2V5" stroke="#2ca87f" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                stroke-linejoin="round" />
              <path d="M16 2V5" stroke="#2ca87f" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                stroke-linejoin="round" />
              <path opacity="0.4" d="M3.5 9.08984H20.5" stroke="#2ca87f" stroke-width="1.5" stroke-miterlimit="10"
                stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z"
                stroke="#2ca87f" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                stroke-linejoin="round" />
              <path opacity="0.4" d="M15.6947 13.7002H15.7037" stroke="#2ca87f" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <path opacity="0.4" d="M15.6947 16.7002H15.7037" stroke="#2ca87f" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <path opacity="0.4" d="M11.9955 13.7002H12.0045" stroke="#2ca87f" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <path opacity="0.4" d="M11.9955 16.7002H12.0045" stroke="#2ca87f" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <path opacity="0.4" d="M8.29431 13.7002H8.30329" stroke="#2ca87f" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <path opacity="0.4" d="M8.29395 16.7002H8.30293" stroke="#2ca87f" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
        </div>
        <div class="flex-grow-1 card-head">
          <h5 class="m-b-0 f-w-600"> Total Task</h5>
        </div>
      </div>
      <div class="chart-body">
        <div class="m-t-15 row align-item-center">
          <div class="col-7">
            <div class="custom-chart">
              <div class="bar2" *ngFor="let item of earningChart.series[0].data" [style.height.%]="item">
                <span class="label">{{ item }}</span>
              </div>
            </div>
          </div>
          <div class="col-5 text-end">
            <h5 class="m-b-5">₹14568</h5>
            <h6 class="text-success-500 m-b-0 ms-4"><i class="ti ti-arrow-up-right"></i> 30.6%</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xxl-3">
    <div class="card">
      <div class="flex align-item-center">
        <div class="flex-shrink-0">
          <div class="avatar avatar-s bg-warn-50 text-warn-500">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                stroke="#DC2626" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                stroke-linejoin="round" />
              <path opacity="0.4" d="M8.4707 10.7402L12.0007 14.2602L15.5307 10.7402" stroke="#DC2626"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>
        <div class="flex-grow-1 card-head">
          <h6 class="m-b-0 f-w-600">Download </h6>
        </div>
      </div>
      <div class="chart-body">
        <div class="m-t-15 row align-item-center">
          <div class="col-7">
            <div class="custom-chart">
              <div class="bar3" *ngFor="let item of earningChart.series[0].data" [style.height.%]="item">
                <span class="label">{{ item }}</span>
              </div>
            </div>
          </div>
          <div class="col-5 text-end">
            <h5 class="m-b-5">₹30200</h5>
            <p class="text-warn-500 m-b-0 ms-4"><i class="ti ti-arrow-up-right"></i> 30.6%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--for chart-->
  <div class="col-lg-12 col-xxl-12">
    <!--
    <app-card cardTitle="Monthly Revenue">
      <apx-chart [chart]="monthlyRevenueChart.chart!" [colors]="monthlyColor" [fill]="monthlyRevenueChart.fill!"
        [dataLabels]="monthlyRevenueChart.dataLabels!" [stroke]="monthlyRevenueChart.stroke!"
        [plotOptions]="monthlyRevenueChart.plotOptions!" [grid]="monthlyRevenueChart.grid!"
        [series]="monthlyRevenueChart.series!" [xaxis]="monthlyRevenueChart.xaxis!">
      </apx-chart>
    </app-card> -->
    <div class="chart-box">
      <h3>Monthly Revenue</h3>
      <svg #customGraph width="100%" height="300" viewBox="0 0 1000 300"></svg>
      <div class="chart-legend">
        <span class="income">Income</span>
        <span class="expense">Expense</span>
      </div>
    </div>

  </div>
  <div class="col-lg-3">

  </div>

  <table class="table table-striped table-bordered table-hover custom-table mt-4">
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>Name <i class="fa-solid fa-sort"></i></th>
        <th>Class</th>
        <th>Roll No.</th>
        <th>Subject</th>
        <th>Fee</th> <!-- New column for currency -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.class }}</td>
        <td>{{ item.rollNo }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.fee | currency:'INR':'symbol':'1.2-2' }}</td> <!-- Currency pipe -->
      </tr>
    </tbody>
  </table>
</div>
